---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const solutions = await Astro.glob("./solutions/*.mdx")
const solutionsSorted = solutions.sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime())

const df = new Intl.DateTimeFormat("en-CA");
---

<Layout title="Mykal's Cassidoos">
  <main>
    <h1>Mykal's <span class="text-gradient">Cassidoos</span></h1>
    <p class="instructions">
      I'm still working on making this usable, but it will eventually be a home
      for all of my solutions to the rendevous with Cassidoo newsletter's
      interview questions.
    </p>
    <h2>Solutions</h2>
    <section class="solutions link-card-grid">
      {
        solutionsSorted.map(({ frontmatter, url }) => (
          <Card
            title={frontmatter.title}
            body={df.format(new Date(frontmatter.date))}
            href={url || '#'}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0;
  }
</style>
